<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <div>
        <h1>About the application</h1>
        <p class="lead">This is sample application to test accessibility standurds</p>
      </div>
    </div><!-- /.container -->
  </body>
 </html>
