<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <div>
        <h1>Sample Application</h1>
        <p class="lead">Sample Application to test accessibility aspects of a website</p>
        <img src="https://www.gstatic.com/webp/gallery/4.jpg" height="400px"></img>
      </div>
    </div>
  </body>
 </html>
